@import '~assets/scss/mixins';

.g-container {
  height: 100%;
  position: relative;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
}
.g-header-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $navbar-z-index;
}

.g-view-container {
  width: 100%;
  height: 100%;
  padding-bottom: $tabbar-height;
}
.g-footer-container {
  position: absolute;
  z-index: $tabbar-z-index;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 10px 0 hsla(0, 6%, 58%, 0.6);
}
.g-backtop-container {
  position: absolute;
  z-index: $backtop-z-index;
  right: 10px;
  bottom: $tabbar-height + 10px;
}
